html {
    background: #1F1B1B;
    color: white;
    padding-left: 3rem;
    box-sizing: border-box;
    margin-top: 1rem;
    overflow-x: hidden;
}

.col-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    /* width: 5rem; */
    overflow: auto;
    position: fixed;
}

.col-2 {
    margin-left: 25%;
    margin-top: 1rem;

}

.col-1 > p {
    font-family: 'Itim', cursive;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 1rem;
}
.col-1 > img {
    margin-top: -3rem;
    margin-left: -3rem;
    margin-bottom: 1rem;
}


h1 {
    width: 95%;
    padding: 1rem;
    border: 1px solid rgb(140, 140, 140);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(111.49deg, rgba(5, 3, 6, 0.4) -8.95%, rgba(255, 255, 255, 0.01) 114%);
    border-radius: 25px;
    box-sizing: border-box;
}